table,
th,
td {
  background-color: #3792cb;
  border: 1px solid;
  width: 700px;
}

body {
  background-color: #296d98;
  color: #0e2433;
}

h1 {
  border: 1px dotted;
}

button {
  background-color: #456bfe;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex--justify-center {
  justify-content: center;
}

.flex--column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
